<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<append>true</append>
		<param name="threshold" value="debug" />
		<!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>LOGBACK %-5p [%d{yyyy/MM/dd HH:mm:ss.SSS}] : %m %n</pattern>
		</encoder>
	</appender>
    
    <!-- Application Loggers -->
    <logger name="com.yp"  additivity="false">
        <level value="debug" />
        <appender-ref ref="console" />
    </logger>
    <logger name="com.yp.filter"  additivity="false">
        <level value="error" />
        <appender-ref ref="console" />
    </logger>
    <logger name="com.yp.common"  additivity="false">
        <level value="error" />
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.yp.system.interceptor.InterceptorAdapter"  additivity="false">
        <level value="info" />
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.yp.system.interceptor.QueryInterceptor"  additivity="false">
        <level value="debug" />
        <appender-ref ref="console"/>
    </logger>
	<logger name="com.yp.system.interceptor.UpdateInterceptor"  additivity="false">
        <level value="debug" />
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.yp.common.util.InetUtil"  additivity="false">
        <level value="info" />
        <appender-ref ref="console"/>
    </logger>
    
    <logger name="jdbc.sqlonly" additivity="false">
        <level value="error"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="java.sql" additivity="false">
        <level value="error"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="java.sql.Statement" additivity="false">
        <level value="error"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="java.sql.ResultSet" additivity="false">
        <level value="error"/>
        <appender-ref ref="console"/>
    </logger>
    
    <logger name="com.ibatis">
        <level value="error"/>
        <appender-ref ref="console" />
    </logger>
    <logger name="org.mybatis.spring.SqlSessionUtils">
        <level value="error"/>
        <appender-ref ref="console" />
    </logger>
    
    <!-- 3rdparty Loggers -->
	<logger name="org.springframework.core"  additivity="false">
		<level value="info" />
        <appender-ref ref="console"/>
	</logger>
	
	<logger name="org.springframework.beans"  additivity="false">
		<level value="info" />
        <appender-ref ref="console"/>
	</logger>
	
	<logger name="org.springframework.context"  additivity="false">
		<level value="info" />
        <appender-ref ref="console"/>
	</logger>

	<logger name="org.springframework.web"  additivity="false">
		<level value="info" />
        <appender-ref ref="console"/>
	</logger>
	
	<root level="error">
		<appender-ref ref="console" />
	</root>
</configuration>