body, table, div, ui, li, a, button, .btn {
	font-size: 13px;
	font-family: Nanum Gothic, Tahoma, Geneva, sans-serif;
}

td {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	vertical-align: middle;
}

input{
	width: 100%;
}

.nav-item{
	cursor: pointer;
}

.width10{width:	10%;}
.width20{width:	20%;}
.width30{width:	30%;}
.width40{width:	40%;}
.width50{width:	50%;}
.width60{width:	60%;}
.width70{width:	70%;}
.width80{width:	80%;}
.width90{width:	90%;}
.width100{width:100%;}

.container{
	width:	1200px	!important;
}
.overflow-hidden {
	overflow:	hidden	!important;
}
.overflow-auto {
	overflow: 	auto	!important;
}
.overflow{
	overflow: scroll;
}
.overflow-x{
	overflow-x: scroll;
}
.overflow-y{
	overflow-y: scroll;
}
.center {
	text-align: center;
	vertical-align: middle;
}
.col-rigth {
	text-align: right;
}
.dropdown-hover:hover .dropdown-menu-hover {
    display:	block	!important;
    margin-top:	0		!important;
}
.inline-block{
	display:	inline-block;
}
.text-center{
	text-align:	center;
}

/* modal */
.custom-modal{
	position:		absolute	!important;
	z-index:		999999		!important;
	left:			0			!important;
	top:			0			!important;
	width:			100%		!important;
	height:			100%		!important;
	background:		rgba(200, 200, 200, 0.4)	!important;
	place-items:	center		!important;
	display:		grid		!important;
}
.custom-modal-items{
	border:		1px solid	!important;
	height:		200px		!important;
	width:		400px		!important;
	background-color: #fff	!important;
}
.custom-modal-title{
	height:			20%		!important;
	text-align:		center	!important;
	background-color: #c0c0c0	!important;
	padding-top:	5px		!important;
	font-size:		20px	!important;
	font-weight:	bold	!important;
	letter-spacing:	10px	!important;
}
.custom-modal-contents{
	height:		60%		!important;
	padding:	20px	!important;
}
.custom-modal-bottom{
	height:		20%		!important;
	text-align:	center	!important;;
}

/* popup */
.pop{
	position:		absolute	!important;
	z-index:		999999		!important;
	left:			0			!important;
	top:			0			!important;
	width:			100%		!important;
	height:			100%		!important;
	background:		rgba(200, 200, 200, 0.4)	!important;
	place-items:	center		!important;
	display:		grid		!important;
}
.pop-items{
	border:		1px solid	!important;
	background-color: #fff	!important;
}
.pop-title{
	height:			40px	!important;
	background-color: #c0c0c0	!important;
	padding:		8px 20px !important;
	font-weight:	bold	!important;
	font-size:		15px
}
.pop-contents{
	padding:	20px	!important;
}
.pop-bottom{
	text-align:	center	!important;;
}
.pop-close{
	float:right;
	font-size:20px;
	margin: -5px -10px 0 0;
}
/* 회원가입 */
.join-title{
	margin-top:		20px;
	font-size:		25px;
	font-weight:	bold;
	text-align:		center;
}
.join-agree{
	height:			10rem;
	border:			solid 1px;
	overflow-y:		scroll;
	margin-top:		3rem;
	background-color: #f8f8f8;
	padding-left:	1rem;
}
.join-indent{
	margin-left:	3rem;
	white-space:	pre-line;
	width:			90%
}
.join-form{
	margin:	0 20%;
}
.join-item-title{
	width: 20%
}
.join-item-footer{
	width: 16%
}

/* 로그인 */
.login-form{
	margin:		30px 25%;
	border:		1px solid grey;
	border-radius:	10px;
	padding-top:	30px;
	
}
.login-title{
	text-align:		center;
	font-size:		20px;
	font-weight:	bold;
}
.login-item{
	padding: 10px 20%;
}
.login-checkbox{
	padding: 0 20%;
}
.login-footer{
	margin: 30px 20%;
}

/* 메뉴 */
.menu-body{
	padding: 50px 0 0 0;
}

/* 좌측 메뉴 */
.leftmenu-title{
	padding-top: 45px;
	height: 80px;
	border-bottom: 1px solid;
}
.leftmenu-contents{
	padding-top: 15px;
}