<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Menu">

	<sql id="selectMenuSql">
		/* menu-mapper.xml id="selectMenuSql" 메뉴 조회 sql */
		<include refid="Common.MenuTreeSql"/>
		SELECT tb1.lv
			 , tb1.seq
			 , tb1.menu_id
			 , tb1.menu_type
			 , tb1.menu_name
			 , tb1.menu_pattren
			 , tb1.menu_url
			 , tb1.parents_menu_id
			 , tb3.menu_name AS parents_menu_name
			 , tb1.sort_no
			 , tb1.use_yn
			 , tb1.in_user_id
			 , tb1.in_dtm
			 , tb1.up_user_id
			 , tb1.up_dtm
			 , tb1.delete_yn
			 , tb1.de_user_id
			 , tb1.de_dtm
			 , IFNULL(tb2.cnt, 0) AS child_cnt
			 , tb1.parents_sort_no
		  FROM menu_cte tb1
	 LEFT JOIN (SELECT COUNT(1) AS cnt
					 , parents_menu_id
				  FROM menu_cte
			  GROUP BY parents_menu_id) tb2
			ON tb1.menu_id = tb2.parents_menu_id
	 LEFT JOIN menu_cte tb3
			ON tb1.parents_menu_id = tb3.menu_id
		 WHERE 1 = 1
		   <if test="@com.yp.common.util.CommUtil@isNotEmpty(seq)">
		   AND tb1.seq = #{seq}
		   </if>
		   <if test="@com.yp.common.util.CommUtil@isNotEmpty(srch_menu_url)">
		   AND tb1.menu_url = #{srch_menu_url}
		   </if>
	</sql>
	
	<select id="selectMenuListPaging" parameterType="com.yp.main.MainVO" resultType="hmap">
		/* menu-mapper.xml id="selectMenuSql" 메뉴 리스트 조회(페이징) */
		<include refid="Common.PagingStartSql"/>
		<include refid="selectMenuSql"/>
		<include refid="Common.PagingEndSql"/>
	</select>
	
	<select id="selectMenuList" parameterType="com.yp.main.MainVO" resultType="hmap">
		/* menu-mapper.xml id="selectMenuSql" 메뉴 리스트 조회 */
		SELECT tb1.*
		  FROM (<include refid="selectMenuSql"/>) tb1
		<include refid="Common.OrderBySql"/>
	</select>
	
	<select id="selectMenuView" parameterType="com.yp.main.MainVO" resultType="hmap">
		/* menu-mapper.xml id="selectMenuSql" 메뉴 단건 조회 */
		SELECT tb1.*
		  FROM (<include refid="selectMenuSql"/>) tb1
	</select>
	
	<insert id="insertMenu" parameterType="com.yp.main.MainVO">
		/* menu-mapper.xml id="insertMenu" 메뉴 입력 */
		INSERT
		  INTO tbsy_menu
			 ( menu_id
			 , menu_type
			 , menu_name
			 , menu_img_file_seq
			 , menu_pattren
			 , menu_url
			 , parents_menu_id
			 , sort_no
			 , use_yn
			 , in_user_id
			 )
		VALUES
			 ( #{menu_id}
			 , #{menu_type}
			 , #{menu_name}
			 , #{menu_img_file_seq}
			 , #{menu_pattren}
			 , #{menu_url}
			 , #{parents_menu_id}
			 , #{sort_no}
			 , #{use_yn}
			 , #{in_user_id}
			 )
	</insert>
	
	<update id="updateMenu" parameterType="com.yp.main.MainVO">
		/* menu-mapper.xml id="updateMenu" 메뉴 수정 */
		UPDATE tbsy_menu
		   SET menu_type			= #{menu_type}
			 , menu_name			= #{menu_name}
			 , menu_img_file_seq	= #{menu_img_file_seq}
			 , menu_pattren			= #{menu_pattren}
			 , menu_url				= #{menu_url}
			 , parents_menu_id		= #{parents_menu_id}
			 , sort_no				= #{sort_no}
			 , use_yn				= #{use_yn}
			 , up_user_id			= #{up_user_id}
			 , up_dtm				= NOW()
		 WHERE seq	= #{seq}
	</update>
	
	<delete id="deleteMenu" parameterType="com.yp.main.MainVO">
		/* menu-mapper.xml id="deleteMenu" 메뉴 삭제 */
		UPDATE tbsy_menu
		   SET delete_yn	= 'Y'
			 , de_user_id	= #{de_user_id}
			 , de_dtm		= NOW()
		 WHERE seq	= #{seq}
	</delete>
	
</mapper>